body {
    
}
html{background-color:#fff;}
#header-topbar{
    background-color: #000000;
    height: 50px;
}
#header-topbar a{
    color:#fff;
    background-color: #000000;
}
#header-topbar a:hover{
    background-color: #000000;
    color:#fff;
}
#navbar{
    padding-top: 10px;
}
#navbar :first-child {
    display:inline-block;
}
#navbar > ul >li{
    font-size:20px;
    color:#fff;
    display:inline;
    padding-left:20px;
}
#navbar ul li a{
    text-decoration:none;
}
.topbar-create a{
    background-color:black;
}
.topbar-create ul{
    border:none;
    border-radius:0;
    background-color:black;
    margin-top: 12px;
}
.topbar-create ul li{
    /*padding:0 !important;*/
}


.topbar-create ul li a{
    background-color:black;
    font-size:14px;
    color:#fff;
}
.topbar-create ul li a:hover {
    border-left:4px solid #C7C7C7;
    background-color:black;
    color:#fff;
}
.edit-area{
    box-shadow:0 0 10px #000;
    margin-left:auto;
    margin-right:auto;
    width:500px;
}

    
    

.edit-area-head  {
    background-color:#fff;
    padding: 20px;
}
.edit-area-head h1 {
    margin: 0px auto 0 auto;
    font-weight: bold;
    text-align: center;
    color: #24576B;
    font-size: 19px;
   
}
.edit-area-body{
background-color:#fff;
    padding: 20px;
}
.edit-area-body .row{
   
    margin-right:0px;
    margin-left:0px;
}
.label-input{
    font-size: 14px;
    display: inline-block;
    color: #245782;
}
.edit-control {
    border: none;
    border-radius: 0;
    background: #E8F3F1;
    width: 100%;
    height: 20px;
    padding: 0px 12px;
    font-size: 14px;
    resize:vertical;
    margin-bottom: 5px;
}
.edit-area-foot{
    padding: 0px 20px 30px;
    background-color: #fff;
}
input.input-validation-error {
    border:none; 
    background-color: #FFECEC;
}
.text-danger{
    font-size: 12px;
    color: #BF0000;
}
.chk-bx{
    display:table;
}
.chk-bx input[type="checkbox"]{
    display:table-cell;
}
.chk-bx label{
    display: table-cell;
    font-size: 14px;
    padding-left: 10px;
}
 #show-password{
    margin-top: 10px;
}
 #show-password hr{
    width: 30%;
    display: inline-block;
    margin: 5px 10px;
    border: 1px solid #9EB4C3;
    box-shadow: 0 0 2px #C7C7C7;
 }
 #show-password div{
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    color: #2D74A7;
    cursor: pointer;
    max-width: 29%;
 }
 .grid-area{
     /*padding-left:20px;
     padding-right:20px;*/
 }
 .grid-header{
    
    background-color: #6F7277;
    color:#fff;
    width: 100%;
    margin: 0;
 }
 .gr-row{
    border-bottom: 1px solid #E8F3F1;
    padding: 0px 15px;
 }
  .gr-row:hover{
    border-bottom: 1px solid #b4bac3;
    border-top: 1px solid #b4bac3;
    padding: 0px 15px;
    cursor:pointer;
    box-shadow: 0 0 2px #C7C7C7;

 }
 .show-block{
     display:block !important;
 }
 #LogOut{

 }
 .session-block{
    display:inline-block;
    float: right;
    margin: 5px 20px 0;
    font-weight: 700;
    text-transform: uppercase;
 }
 .session-block li{
    font-size: 12px !important;
 }
 #Notes{
     min-height:50px;
 }

 .desktop .promo-android{
     display:none;
 }

  .desktop .promo-ios{
     display:none;
 }

  .desktop .promo-windows{
     display:none;

 }


 .ios .promo-android{
     display:none;
 }

  .ios .promo-ios{
     display:block;
 }

  .ios .promo-windows{
     display:none;

 }


   .android .promo-android{
     display:block;
 }

  .android .promo-ios{
     display:none;
 }

  .android .promo-windows{
     display:none;

 }

  .windows .promo-windows{
     display:block;
 }

  .windows .promo-ios{
     display:none;
 }

  .windows .promo-android{
     display:none;

 }

 .promo .phone-info {
        display: block;
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 40px;
    height: 38px;
    background: url('/Content/Images/smart.png') 0 0 no-repeat;
    background-size: contain;
}
 .promo {
        position: relative;
    background: #706E6E;
    border: 3px solid #FCCB28;
    color: #FCCB28;
    line-height: 1.3em;
    font-size: 14px;
    padding: 5px 10px 5px 52px;
    text-align: left;
    border-radius: 2px;
    font-weight: bold;
    text-align:center;
    /*margin: 15px 0 15px;*/
}
  .promo .phone-info-close {
        display: block;
    position: absolute;
    right: 5px;
    bottom: -3px;
    width: 20px;
    height: 38px;
    background: url('/Content/Images/delete.png') 0 0 no-repeat;
    background-size: contain;
}
.SearchCarLbl{
    display:none;
    position: absolute;
    top: 86px;
    left: 48%;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: 600;
    color: #FCCB28;
}