<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, user-scalable=0, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <!-- <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"> -->
    <title>Такси 322 |  Онлайн-заказ недорогого такси в Минске</title>

    <link href="/static/bootstrap.css" rel="stylesheet"/>
    <link href="/static/site.css" rel="stylesheet"/>
    <link href="/static/responsiv_styles.css" rel="stylesheet"/>
    <link href="/static/main.css" rel="stylesheet"/>
    <link href="/static/Style_client.css" rel="stylesheet"/>
    <link href="/static/controls.css" rel="stylesheet"/>
    <link href="/static/another.css" rel="stylesheet"/>
    <script src="/static/scripts/jquery-2.2.0.js"></script>
    <script src="/static/scripts/jquery-ui-1.8.24.js"></script>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/main-client.js"></script>
    <script src="/static/scripts/jquery.maskedinput.js"></script>
    <script src="/static/scripts/device.js"></script>
    <script src="/static/scripts/jquery.json-2.2.min.js"></script>
</head>
<body>
<div id="cl_header">

    <nav class="navbar cl-nav @*navbar-default*@" role="navigation">

        <div class="container-fluid">
            <!-- Название компании и кнопка, которая отображается для мобильных устройств группируются для лучшего отображения при свертывание -->
            <div class="navbar-header">
                <button id="nav-btn" type="button" class="navbar-toggle cl-nav-btn" data-toggle="collapse" data-target="#nav-sections">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/taksi/" alt="Такси 152"><img src="/static/icons/Logo.png" width="35" height="35" alt="Такси 152" /></a>

                <div class="numbers hide-from-768" style=" margin-top: 30px;">
                    <div class="phone-icon">
                        <img src="/static/icons/phone-icon.png" />
                    </div>
                    <div class="dd-numbers">
                        <div class="city_phone">322</div>
                        <div class="viber">+ 375 (29) 1111 322</div>
                        <div class="velcom">+ 375 (29) 2222 322</div>
                        <div class="velcom">+ 375 (29) 3333 322</div>
                        <div class="velcom">+ 375 (44) 4444 322</div>

                        <div class="mts">+ 375 (29) 5555 322</div>
                        <div class="mts">+ 375 (29) 6666 322</div>
                        <div class="mts">+ 375 (29) 7777 322</div>
                        <div class="life">+ 375 (25) 8888 322</div>
                    </div>
                </div>

            </div>

            <!-- Группируем ссылки, формы, выпадающее меню и прочие элементы -->
            <div class="collapse navbar-collapse" id="nav-sections">
                <ul class="nav navbar-nav sections-list">
                    <li>
                        <a href="/taksi/#order-container"><h4>Онлайн заказ</h4></a>
                    </li>
                    <li class="hide-to-991">
                        <a href="/taksi/#offer"><h4>Наши бонусы</h4></a>
                    </li>
                    <li>
                        <a href="/taksi/#price-container"><h4>Тарифы</h4></a>
                    </li>
                    <li>
                        <a href="/taksi/#driver-container"><h4>Водителям</h4></a>
                    </li>
                    <!--<li>
                        <a href="/taksi/#contacts-container"><h4>Контакты</h4></a>
                    </li>-->
                </ul>




                <div class="numbers  hide-to-768 mrg-top-to-1199-30">
                    <div class="phone-icon">
                        <img src="/static/icons/phone-icon.png" />
                    </div>
                    <div class="phone-block hide-to-1199">
                        <div>Заказ с любого номера: 322</div>
                        <a href="#">номера мобильных операторов</a>
                    </div>
                    <div class="dd-numbers">
                        <div class="city_phone">322</div>
                        <div class="viber">+ 375 (29) 1111 322</div>
                        <div class="velcom">+ 375 (29) 2222 322</div>
                        <div class="velcom">+ 375 (29) 3333 322</div>
                        <div class="velcom">+ 375 (44) 4444 322</div>

                        <div class="mts">+ 375 (29) 5555 322</div>
                        <div class="mts">+ 375 (29) 6666 322</div>
                        <div class="mts">+ 375 (29) 7777 322</div>
                        <div class="life">+ 375 (25) 8888 322</div>
                    </div>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->


    </nav>





</div>

<div id="wrapper-client">


    <input data-val="true" data-val-required="The Language field is required." id="Language" name="Language" type="hidden" value="ru" />
    <div id="wrapper-content">

        <div id="order-block">
            <div id="order-container">
                <div id="order-wrapper">

                    <label id="ErrorMsgBlock"></label>

                    <div id="order-header">
                        <h1>
                            АВТОРИЗАЦИЯ
                        </h1>

                        <h3>Для дальнейшего взаимодействия с сайтом необходима авторизация</h3>

                    </div>
                    <div id="order-body">
                        <form action = "#" method="post" >
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 block-opacity">
                                    <input aria-haspopup="true" class="" data-val="true" data-val-required="Обязательно для заполнения" id="Name" maxlength="30" name="Name" placeholder="Логин *" role="textbox" type="text" value="">
                                </div>
                                <div class="col-xs-12 col-sm-4">

                                    <input aria-haspopup="true" class="" data-val="true" data-val-required="Обязательно для заполнения" id="Password" maxlength="30" name="Name" placeholder="Пароль *" role="textbox" type="text" value="">
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <a href="/driver"><button class="btn btn-block btn-yellow" type="submit">Войти</button></a>
                                </div>

                            </div>
                            <div class="row dd-block margin-reset" id="korova">
                            </div>
                            <div class="row dd-block margin-reset" id="korova">
                            </div>
                            <div class="row dd-block margin-reset" id="korova">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            <script>
                //jQuery(function ($) {

                //    $(".desktop #Phone").mask("+375-99-999-99-99");

                //});
                var orderCaptcha = function (data) {
                    $('#OrderCaptchaValue').val(data);
                    $("#search_car").prop("disabled", false)
                }

                function resetBodyType() {
                    $(".carType_icon").removeClass('icon-selected');
                    $("#isElit").val(false);
                    $("#isMinivan").val(false);
                    $("#isUniversal").val(false);}

                function GetAddressByCoordinates() {
                    if (0) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            var obj = new Object();
                            obj.Latitude = position.coords.latitude;
                            obj.Longitude = position.coords.longitude;
                            var json = $.toJSON(obj);

                            $.ajax({
                                type: 'POST',
                                url: '/Home/GetAddressByCoordinates',
                                data: json,
                                contentType: 'application/json; charset=utf-8',
                                success: function (result) {
                                    if (result != null) {
                                        if (result.Street != null && result.Street.length > 0) {
                                            var StreetVal = $('#street').val()
                                            if (StreetVal.length == 0) {
                                                $('#street').val(result.Street);
                                            }
                                        }
                                        if (Block.Street != null && result.Block.length > 0) {
                                            var BlockVal = $('#Block').val()
                                            if (BlockVal.length == 0) {
                                                $('#Block').val(result.Block);
                                            }
                                        }
                                        if (Block.Building != null && result.Building.length > 0) {
                                            var BuildingVal = $('#Building').val()
                                            if (BuildingVal.length == 0) {
                                                $('#Building').val(result.Building);
                                            }
                                        }
                                    }

                                }
                            });
                        })
                    }
                }


                $('#CountryPhoneCode').focusout(function () {
                    var countryCode = $('#CountryPhoneCode').val();
                    if (countryCode != "375") {

                        $("#phone-container").removeClass("BY-phone-format");
                        $('#OperatorPhoneCode').val("");
                        $('#OrderCaptchaContainer').addClass('show-inline-block')
                        if ($('#OrderCaptchaValue').val() == '') {
                            $("#search_car").prop("disabled", true)
                        }

                    }
                    else {
                        $("#phone-container").addClass("BY-phone-format");
                        $('#OperatorPhoneCode').focus();
                        $('#OrderCaptchaContainer').removeClass('show-inline-block')
                        $("#search_car").prop("disabled", false)
                        $('#Phone').val("");
                    }
                })

                $('#OperatorPhoneCode').focusout(function () {
                    var operatorCode = $('#OperatorPhoneCode').val();
                    if (operatorCode == "17")
                    {
                        $('#OrderCaptchaContainer').addClass('show-inline-block')

                        if ($('#OrderCaptchaValue').val() == '') {
                            $("#search_car").prop("disabled", true)
                        }
                    }
                })

                $("#LastOrderContainer h3, #LastOrderContainer div, #LastOrderContainer br + svg").click(function () {
                    $("#LastOrderContainer").val();
                    var street = $("#last_street").val();
                    $("#street").val(street);
                    var Building = $("#last_Building").val();
                    $("#Building").val(Building);
                    var Block = $("#last_Block").val();
                    $("#Block").val(Block);
                    var Apartment = $("#last_Apartment").val();
                    $("#Apartment").val(Apartment);
                    var Entrance = $("#last_Entrance").val();
                    $("#Entrance").val(Entrance);
                    $("#LastOrderContainer").removeClass("show-inline-block")

                })
                $("#hide-last-order").click(function () {
                    $("#LastOrderContainer").removeClass("show-inline-block")
                })

                $(document).ready(function () {
                    var currCert = $("#Certificate").val();
                    if (currCert == '') {
                        CheckSertificate()
                        GetAddressByCoordinates();
                        var Cert = GetSertifcateCookieByName("Taxi152")
                        $("#Certificate").val(Cert);
                    }

                    var countryCode = $('#CountryPhoneCode').val();
                    var operatorPhoneCode = $('#OperatorPhoneCode').val();

                    if (countryCode != "375" || (countryCode == "375" && operatorPhoneCode == "17")) {
                        $("#search_car").prop("disabled", true)
                        $('#OrderCaptchaContainer').addClass('show-inline-block')
                        $("#phone-container").removeClass("BY-phone-format");
                        if (countryCode == "375" && operatorPhoneCode == "17") {
                            $("#phone-container").addClass("BY-phone-format");
                        }
                    }
                    else {

                        $("#phone-container").addClass("BY-phone-format");

                    }

                    //$(function () {
                    //    var countryCodes = ["93", "355", "21", "684", "376", "244", "1264", "1268", "54", "374", "297", "247", "61", "672", "43", "994", "351", "1242", "973",
                    //        "880", "1246", "375", "32", "501", "229", "1441", "975", "591", "387", "267", "55", "1284", "673", "359", "226", "257", "7", "855", "237", "238", "1345", "236",
                    //        "235", "56", "86", "672", "57", "1670", "269", "242", "243", "682", "506", "385", "53", "357", "420", "45", "246", "253", "1767", "1809", "62", "593", "20", "503",
                    //        "240", "291", "372", "251", "298", "500", "679", "358", "33", "590", "594", "689", "241", "220", "995", "49", "233", "350", "30", "299", "1473", "671", "502", "224",
                    //        "245", "592", "509", "504", "852", "36", "354", "91", "62", "98", "964", "353", "972", "39", "225", "1876", "81", "962", "254", "686", "850", "82", "965", "996", "856",
                    //        "371", "961", "266", "231", "21", "41", "370", "352", "853", "389", "261", "265", "60", "960", "223", "356", "692", "596", "222", "230", "52", "691", "377", "976", "1664",
                    //        "373", "212", "258", "95", "264", "674", "977", "31", "599", "687", "64", "505", "227", "234", "683", "672", "670", "47", "968", "92", "680", "507", "675", "595", "51",
                    //        "63", "48", "351", "1787", "974", "378", "262", "40", "7", "250", "247", "508", "39", "239", "966", "221", "248", "232", "65", "421", "386", "677", "252", "27", "34",
                    //        "94", "1869", "1758", "1784", "249", "597", "47", "268", "46", "41", "963", "886", "992", "255", "66", "228", "690", "676", "1868", "21", "90", "993", "1649", "688",
                    //        "256", "380", "971", "44", "598", "1340", "1", "998", "678", "39", "58", "84", "681", "21", "685", "967", "969", "381", "243", "260", "259", "263"];
                    //    countryCodes.sort();
                    //    $("#CountryPhoneCode").autocomplete({
                    //        source: countryCodes,
                    //        appendTo: "#CodesVariants",
                    //    });
                    //});
                    function sIncrease(i, ii) {
                        if (i > ii)
                            return 1;
                        else if (i < ii)
                            return -1;
                        else
                            return 0;
                    }


                    $('#OperatorPhoneCode').keypress(function (key) {
                        var code = $('#CountryPhoneCode').val()
                        if (code == "375") {
                            var numLength = $('#OperatorPhoneCode').val().length
                            if (numLength == 0) {

                                if (key.charCode < 48 || key.charCode == 50 || key.charCode == 51 || key.charCode == 52
                                    || key.charCode == 98 || key.charCode == 99 || key.charCode == 100 || key.charCode == 49) {
                                    return true;
                                }
                                else {
                                    return false;
                                }
                            }
                            if (numLength == 1) {
                                var num = $('#OperatorPhoneCode').val()
                                switch (num) {
                                    case "1":
                                        if (key.charCode < 48 || key.charCode == 55) {
                                            $('#Phone').focus();
                                            return true;
                                        }
                                        else {
                                            return false;
                                        }
                                        break;
                                    case "2":
                                        if (key.charCode < 48 || key.charCode == 57 || key.charCode == 53 || key.charCode == 105 || key.charCode == 101) {
                                            $('#Phone').focus();
                                            return true;
                                        }
                                        else {
                                            $('#Phone').focus();
                                            return true;
                                        }
                                        break;
                                    case "3":
                                        if (key.charCode < 48 || key.charCode == 51 || key.charCode == 99) {
                                            $('#Phone').focus();
                                            return true;
                                        }
                                        else {
                                            return false;
                                        }
                                        break;
                                    case "4":
                                        if (key.charCode < 48 || key.charCode == 52 || key.charCode == 100) {
                                            $('#Phone').focus();
                                            return true;
                                        }
                                        else {
                                            return false;
                                        }
                                        break;
                                    default:
                                        return false;
                                }
                            }
                            if (numLength == 2) {
                                //if ((key.charCode >= 48 && key.charCode <= 56) || (key.charCode >= 96 && key.charCode <= 105)) {
                                //    $('#Phone').focus();
                                //    var char = String.fromCharCode(key.keyCode);
                                //    $('#Phone').val(char);
                                //}
                                if (key.charCode < 48) {
                                    return true;
                                }
                                return false;
                            }
                        }
                        return true;
                    });

                    $('#Phone').keypress(function (key) {
                        var code = $('#CountryPhoneCode').val()
                        if (code == "375") {
                            if ((key.charCode >= 48 && key.charCode <= 56) || (key.charCode >= 96 && key.charCode <= 105)) {
                                var numLength = $('#Phone').val().length
                                if (numLength == 7) {

                                    return false;
                                }
                            }
                            return true;
                        }
                    });
                    //$("#street").keyup(function (event) {

                    //    var term = $(this).val();
                    //        if (term.length == 0) {
                    //        } else {
                    //                $.getJSON('/Home/GetStreets?term=' + term, null, function (data) {
                    //                    $("#street").autocomplete("option", "source", data);
                    //                });
                    //        }
                    //});
                    //$("#street").autocomplete({
                    //    source: StreetVariants,
                    //    appendTo: "#street-variants",
                    //    delay: 1500

                    //});
                    $("#street").autocomplete({
                        source: function( request, response ) {
                            $.ajax({
                                url: "/Home/GetStreets?term=" + request.term,
                                dataType: "json",
                                success: function( data ) {
                                    response( data );
                                }
                            });
                        },
                        appendTo: "#street-variants",
                        delay: 500
                    });


                    $('.only-numbers').keypress(function (key) {
                        if (key.charCode == 0) {
                            return true;
                        }
                        if (key.charCode < 48 || key.charCode > 57) return false;
                    });

                    $(".carType_icon").click(function () {
                        var body = $(this).attr('body_type');
                        resetBodyType();
                        switch (body) {
                            case "2":
                                $("#isUniversal").val("true");
                                break;
                            case "3":
                                $("#isMinivan").val("true");
                                break;
                            case "4":
                                $("#isElit").val("true");
                                break;
                            default:
                                break;
                        }
                        $(this).addClass('icon-selected');
                    });


                    $("#service-selector").click(function () {
                        $(this).parent().toggleClass('dr-focus');
                    });
                    $("#service-selector").focusout(function () {
                        setTimeout(function () {
                            $('#service-selector').parent().removeClass('dr-focus');
                        }, 300);
                    });
                    $('#service-list .dd-item').click(function () {
                        var value = $(this).text();
                        var service = $(this).attr('service_value');
                        $(this).parent().prev("#service-selector").val(value);
                        $('#Service').val(service);
                    });


                    $("#pay-selector").click(function () {
                        $(this).parent().toggleClass('dr-focus');
                    });
                    $("#pay-selector").focusout(function () {
                        setTimeout(function () {
                            $('#pay-selector').parent().removeClass('dr-focus');
                        }, 300);
                    });
                    $('#pay-list .dd-item').click(function () {
                        var value = $(this).text();
                        var method = $(this).attr('method_value');
                        $(this).parent().prev("#pay-selector").val(value);
                        $('#PaymentMethod').val(method);
                    });
                });
                $('#street-variants li').click(function () {
                    alert('ffg');
                    //$(this).trigger('click');
                })

            </script></div>
    </div>
</div>
<script>
    $( window ).resize(function() {
        resizeWidthCards();
        resizeHeightCards();
    });
    function resizeWidthCards()
    {
        var maxWidth = 0;
        $('.card').each(function(){
            var cardWidth = $(this).width();
            if (maxWidth < cardWidth) {
                maxWidth = cardWidth;
            }
        })
        $('.card').width(maxWidth);
    }
    function resizeHeightCards()
    {
        var maxHeight = 0;
        $('.card-header').each(function(){
            var cardHeight = $(this).height();
            if (maxHeight < cardHeight) {
                maxHeight = cardHeight;
            }
        })
        $('.card-header').height(maxHeight);

        maxHeight = 0;
        $('.InSityBlock').each(function(){
            var cardHeight = $(this).height();
            if (maxHeight < cardHeight) {
                maxHeight = cardHeight;
            }
        })
        $('.InSityBlock').height(maxHeight);
        maxHeight = 0;
        $('.OutSityBlock').each(function(){
            var cardHeight = $(this).height();
            if (maxHeight < cardHeight) {
                maxHeight = cardHeight;
            }
        })
        $('.OutSityBlock').height(maxHeight);
    }



    function redirectIOS()
    {
        window.open("/Mobile/IOS","_blank")
    }
    function redirectAndroid()
    {
        window.open("/Mobile/Android","_blank")
    }
    function redirectWP()
    {
        window.open("/Mobile/WP","_blank")
    }

    $('a.promo.promo-ios').click(function(event)
    {
        if (event.target.className == "phone-info-close") {
            $(".promo").hide();
        }
        else {
            window.open("/Mobile/IOS_Baner","_blank")
        }

    })
    $('a.promo.promo-android').click(function(event)
    {
        if (event.target.className == "phone-info-close") {
            $(".promo").hide();
        }
        else {
            window.open("/Mobile/Android_Baner","_blank")
        }

    })
    $('a.promo.promo-windows').click(function(event)
    {
        if (event.target.className == "phone-info-close") {
            $(".promo").hide();
        }
        else {
            window.open("/Mobile/WP_Baner","_blank")
        }
    })
    var StreetVariants = [];
    var orderIsCanceled;
    var orderIsConfirmed;



    function SetStandartOrder() {
        $(".carType_icon").removeClass('icon-selected');
        resetBodyType();
        $("#lbl-standart").addClass('icon-selected');
    }
    function SetUniversalOrder() {
        $(".carType_icon").removeClass('icon-selected');
        resetBodyType();
        $("#isUniversal").val("true");
        $("#lbl-universal").addClass('icon-selected');
    }
    function SetMinivanOrder() {
        $(".carType_icon").removeClass('icon-selected');
        resetBodyType();
        $("#isMinivan").val("true");
        $("#lbl-minivan").addClass('icon-selected');
    }
    function SetElitOrder() {
        $(".carType_icon").removeClass('icon-selected');
        resetBodyType();
        $("#isElit").val("true");
        $("#lbl-comfort").addClass('icon-selected');
    }


    function submitClientMessage() {

        var form = $("#client-form").find('form');
        $.ajax({
            type: "POST",
            url: '/Home/SubmitClientForm',
            data: form.serialize(),
            cache: false,
            async: false,
            success: function (result) {
                if (result.indexOf("field-validation-error") > -1) {
                    $("#client-form").html(result);
                } else {
                    $("#client-form").html(result);
                    $('#client-form input[type="text"],#client-form input[type="tel"], #client-form textarea').val('');
                    $('#client-form .msg-sent').addClass('show-block');
                    setTimeout(function () {
                        $('#client-form .msg-sent').removeClass('show-block');
                    }, 15000);

                }
                onloadCallback
            }
        });

        //event.preventDefault();
    }


    //            }
    //        }
    //    });
    //    event.preventDefault();
    //}

    function submitDriverMessage(event) {
        var form = $("#driver-form").find('form');
        $.ajax({
            type: "POST",
            url: '/Home/SubmitDriverForm',
            data: form.serialize(),
            cache: false,
            async: false,
            success: function (result) {
                if (result.indexOf("input-validation-error") > -1) {
                    $("#driver-form").html(result);
                } else {
                    $("#driver-form").html(result);
                    $('#driver-form input[type="text"],#driver-form input[type="tel"], #driver-form textarea').val('');
                    $('#driver-form .msg-sent').addClass('show-block');
                    setTimeout(function () {
                        $('.msg-sent').removeClass('show-block');
                    }, 15000);

                }
                //onloadCallback
            }
        });

        //event.preventDefault();
    }

    function submitOrder(event) {
        var countryCode = $('#CountryPhoneCode').val();
        var OperatorPhoneCode = $('#OperatorPhoneCode').val()
        var numLength = $('#OperatorPhoneCode').val().length
        //if (countryCode != "375" ) {
        //    $('#OrderCaptchaContainer').addClass('show-block');
        //    $('#search_car').hide();

        //    return false;
        //}

        if (countryCode == "375" && numLength < 2) {
            $('#OperatorPhoneCode').addClass("input-validation-error")
        }
        else {
            $('#OperatorPhoneCode').removeClass("input-validation-error")
            //var certificate = GetSertifcateCookieByName("Taxi152")
            var form = $("#order-container").find('form');
            $.ajax({
                type: "POST",
                url: '/Home/OrderTaxi',
                data: form.serialize(),
                cache: false,
                async: false,
                success: function (result) {

                    $("#order-container").html(result);
                    if (countryCode != "375" || (countryCode == "375" && OperatorPhoneCode == "17")) {
                        var CookieName = "Taxi152";
                        var CookieExpires = 5;
                        var CookiePath = "/";
                        var CookieDomain = "taxi152.by";
                        var CookieCertificateValue = $("#Certificate").val();
                        setTempCookie(CookieName, CookieCertificateValue, CookieExpires, CookiePath, CookieDomain)
                    }

                    var code = $("#Code").val();
                    if (code == 1) {
                        checkStatus();
                    }
                }
            });
        }


    }


    function ConfirmOrder(event) {
        orderIsConfirmed = true;
        var form = $("#order-container").find('form');
        $.ajax({
            type: "POST",
            url: '/Home/ConfirmOrder',
            data: form.serialize(),
            cache: false,
            async: false,
            success: function (result) {
                if (result) {
                    $('#countdown').hide();
                    $("#result-header").find("div:first").hide();
                    $("#result-header > *:nth-child(2)").hide();
                    $("#car-moved-lbl").css('display', 'block');
                    $("#btn-newOrder").addClass('show-inline');

                    $("#btn-cancel-confirm").css('display', 'none');
                    $("#btn-confirm").css('display', 'none');
                    $("#NeedConfirmation").val(0)
                    $("#please-confirm").css('display', 'none');
                }
                else {

                }
            }
        });
        //event.preventDefault();
    }
    function CreateNewOrder(event)
    {
        $("#order-container").load('/Home/OrderTaxi');
    }

    function StartTimer() {
        if (!orderIsConfirmed) {
            setTimeout(function () {
                var time = $("#ConfirmPeriod").val();
                time = time - 1000;
                if (time < 0) {
                    var needConfirm = $("#NeedConfirmation").val();
                    if (needConfirm != 0) {
                        CancelSearch();
                    }

                }
                else {
                    $("#ConfirmPeriod").val(time);
                    $("#countdown").html(time / 1000 + " сек");
                    StartTimer()
                }

            }, 1000)
        }


    }
    var currentStep = 1;
    function SmartSteps(event) {
        setTimeout(function () {
            switch (currentStep) {
                case 1:
                    currentStep = 2;
                    $("#smart-taxi-container").removeClass("step-two-image")
                    $("#smart-taxi-container").removeClass("step-three-image")
                    $("#smart-taxi-container").addClass("step-one-image")
                    $(".step").removeClass("step-select");
                    $("#step-one").addClass("step-select");
                    SmartSteps();
                    break;
                case 2:
                    currentStep = 3;
                    $("#smart-taxi-container").removeClass("step-one-image")
                    $("#smart-taxi-container").addClass("step-two-image")
                    $("#smart-taxi-container").removeClass("step-three-image")
                    $(".step").removeClass("step-select");
                    $("#step-two").addClass("step-select");
                    SmartSteps();
                    break;
                case 3:
                    currentStep = 1;
                    $("#smart-taxi-container").removeClass("step-one-image")
                    $("#smart-taxi-container").removeClass("step-two-image")
                    $("#smart-taxi-container").addClass("step-three-image")
                    $(".step").removeClass("step-select");
                    $("#step-three").addClass("step-select");
                    SmartSteps();
                    break;
                default:

            }
        }, 4000)
    };

    function SetStep(step) {
        switch (step) {
            case 1:
                currentStep = 1;
                $("#smart-taxi-container").removeClass("step-two-image")
                $("#smart-taxi-container").removeClass("step-three-image")
                $("#smart-taxi-container").addClass("step-one-image")

                $(".step").removeClass("step-select");
                $("#step-one").addClass("step-select");
                break;
            case 2:
                currentStep = 2;
                $("#smart-taxi-container").removeClass("step-one-image")
                $("#smart-taxi-container").addClass("step-two-image")
                $("#smart-taxi-container").removeClass("step-three-image")


                $(".step").removeClass("step-select");
                $("#step-two").addClass("step-select");
                break;
            case 3:
                currentStep = 3;
                $("#smart-taxi-container").removeClass("step-one-image")
                $("#smart-taxi-container").removeClass("step-two-image")
                $("#smart-taxi-container").addClass("step-three-image")

                $(".step").removeClass("step-select");
                $("#step-three").addClass("step-select");
                break;
            default:

        }
    }

    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    function setCookie(name, value, expires, path, domain) {

        if (typeof expires == "number" && expires) {
            var d = new Date();
            d.setDate(d.getDate() + expires);
            expires = d;
        }
        if (expires && expires.toUTCString) {
            expires = expires.toUTCString();
        }
        value = encodeURIComponent(value);
        var newCookie = name + "=" + value + "; expires=" + expires + "; path=" + path + "; domain=" + domain;
        document.cookie = newCookie;
    }
    function setTempCookie(name, value, expiresMinuts, path, domain) {
        if (typeof expiresMinuts == "number" && expiresMinuts) {
            var d = new Date();
            d.setMinutes(d.getMinutes() + expiresMinuts);
            expiresMinuts = d;
        }
        if (expiresMinuts && expiresMinuts.toUTCString) {
            expiresMinuts = expiresMinuts.toUTCString();
        }
        value = encodeURIComponent(value);
        var newCookie = name + "=" + value + "; expires=" + expiresMinuts + "; path=" + path + "; domain=" + domain;
        document.cookie = newCookie;
    }

    function SetSertifcateCookie(certificate){
        var CookieCertificateValue = certificate;
        var CookieName = "Taxi152";
        var CookieExpires = 3650;
        var CookiePath = "/";
        var CookieDomain = "taxi152.by";
        setCookie(CookieName, CookieCertificateValue, CookieExpires, CookiePath, CookieDomain)
    }
    function GetSertifcateCookieByName(Name){
        var Certificate = getCookie(Name)
        return Certificate;
    }

    function CheckSertificate(){
        var sertificateName = "Taxi152"
        var UserCertificate = GetSertifcateCookieByName(sertificateName)
        if (UserCertificate != undefined) {
            $.ajax({
                type: "GET",
                url: '/Home/EnterClient?certificate='+UserCertificate,
                cache: false,
                async: false,
                success: function (result) {
                    if (result != null && result.Street != undefined) {
                        $("#LastOrderContainer").addClass("show-inline-block")
                        $("#last_street").val(result.Street);
                        $("#last_Building").val(result.Building);
                        $("#last_Block").val(result.Block);
                        $("#last_Apartment").val(result.Apartment);
                        $("#last_Entrance").val(result.Entrance);
                        $("#OperatorPhoneCode").val(result.OperatorPhoneCode);
                        $("#Phone").val(result.Phone);
                        $("#Name").val(result.Name);

                        var lastAddressValue = "";
                        if (result.Street != null && result.Street != "") {
                            $("#last_street_lbl").text(result.Street)
                        }
                        if (result.Building != null && result.Building != "") {
                            $("#last_Building_lbl").append("Д." + result.Building)
                        }
                        if (result.Block != null && result.Block != "") {
                            $("#last_Building_lbl").append("/" + result.Block)
                        }
                        if (result.Entrance != null && result.Entrance != "") {
                            $("#last_Building_lbl").append(" - " + result.Entrance + "Подъезд")
                        }
                        if (result.Apartment != null && result.Apartment != "") {
                            $("#last_Apartment_lbl").append("Кв." + result.Apartment)
                        }
                        //$("#LastAddress").text(lastAddressValue)
                    }
                }
            })
        }
    }

    $(document).ready(function () {

        //skyAnimate();

        var theClass = $('html').attr('class');

        //$(".phone-info-close").click(function (event) {
        //    $(".promo").hide();
        //})

        $("#order-container").load('/Home/OrderTaxi');

        SmartSteps()

        orderIsCanceled = false;

        $(window).trigger('resize');
    });


</script>

<!-- </div>
<div id="footer-client">

    <a target="_blank" href="http://ryxol.com">Разработка сайта</a>
</div> -->
</body>
</html>